### Pandas Exercises

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [1]:
#1 How to import Pandas and check the version

import pandas as pd
pd.__version__

'1.2.4'

In [2]:
#2 How to create a series from a list,numpy array and dict

import numpy as np

mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist,myarr))

In [3]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
ser3.head()

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [4]:
#3 how to convert the index of a series into column of a dataframe
df = pd.DataFrame(ser3)
df.head()

   0
a  0
b  1
c  2
d  3
e  4

In [5]:
df = ser3.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

In [6]:
#4 How to combine many series to form a dataframe
df = pd.DataFrame({'col1':ser1,'col2':ser2})

In [7]:
#5 How to assign name to the series' index?
ser = pd.Series(list('abcdefghijklmnopqrstuvWxyz'))
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    d
4    e
Name: alphabets, dtype: object

In [8]:
#6 how to get the items of series A not present in series B
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [9]:
#7 get items present in both the series
ser1[ser1.isin(ser2)]

3    4
4    5
dtype: int64

In [10]:
# Get items unique in both series
set1=set(ser1)
set2=set(ser2)
set1.union(set2)-set1.intersection(set2)

{1, 2, 3, 6, 7, 8}

In [11]:
# how to get the minimum, 25th percentile, median, 75th and 
# Max of a numeric series?
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10,5,25))
ser

0      1.251173
1     11.713402
2     15.765179
3      8.737820
4     14.906604
5     12.571094
6     11.105898
7      4.649783
8      9.052521
9     11.275007
10     7.709865
11    12.175817
12     7.082025
13    14.084235
14    13.363604
15     9.477944
16     7.343598
17    15.148663
18     7.809322
19     4.408409
20    18.094908
21    17.708026
22     8.740604
23     5.787821
24    10.922593
dtype: float64

In [12]:
np.percentile(ser, q=[0,25,50,75,100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

In [13]:
#9 how to get frequency counts of unique items of a series?
ser = pd.Series(np.take(list('abcdefgh'),np.random.randint(8, size=30)))

In [14]:
ser.value_counts()

b    6
c    5
g    5
a    4
f    4
d    3
h    2
e    1
dtype: int64

In [15]:
#10 How to keep only top 2 most frequent values as
# it is and replace everything else as 'other'?

ser = pd.Series(np.random.randint(1,5,[12]))
s

0     1
1     3
2     2
3     2
4     3
5     2
6     1
7     2
8     3
9     3
10    4
11    1
dtype: int32